<!DOCTYPE html>
<html lang="en">
    <head>
        <!--
Group Name: The Average Joes
Group Members: Bruce Li (leader)
Matt Irby
Wesley Nguyen
Zachary Gay
File Name: index.html
Purpose: This is the markup for the form validation page.
-->
        <meta charset="UTF-8">
        <!-- Links Stylesheet.css to this file. -->
        <link rel="stylesheet" type="text/css" href="../Content/Stylesheet.css" />

        <!-- Title of Web Page to be placed in the tab -->
        <title>Form Validation</title>
    </head>
    <body>

        <fieldset>
            <h4>Please tell us who you are (Georgia residents only)</h4>

            <!--Label and Field for First Name-->
            <label for="firstName">First Name:</label>
            <input class="userInput" type="text" id="firstName" onblur="myFunction()"/>


            <!--Label and Field for Last Name-->
            <label for="lastName">Last Name:</label>
            <input class="userInput" type="text" id="lastName" onblur="myFunction()"/>

            <!--Label and Field for Telephone-->
            <label for="phoneNum">Telephone:</label>
            <input class="userInput" type="text" id="phoneNum" placeholder="(XXX)XXX-XXXX" onblur="numCheck()" />

        </fieldset>

        <script>
            function myFunction() {
                var x = document.getElementById("lastName");
                x.value = x.value[0].toUpperCase() + x.value.slice(1);
            }
        </script>

    </body>
</html>