<!DOCTYPE html>
<html lang="en">
    <head>
        <!--
Group Name: The Average Joes
Group Members: Bruce Li (leader)
Matt Irby
Wesley Nguyen
Zachary Gay
File Name: index.html
Purpose: This is the markup for the form validation page.
-->
        <meta charset="UTF-8">
        <!-- Links Stylesheet.css to this file. -->
        <link rel="stylesheet" type="text/css" href="../Content/Stylesheet.css" />

        <!-- Title of Web Page to be placed in the tab -->
        <title>Form Validation</title>
    </head>
    <body>
		<!--Creates form-->
		<form>
			<!--Form has more than one field to fill-->
			<fieldset>
			
				<h4>Please tell us who you are (Georgia residents only)</h4>
				
				<!--Label and Field for First Name-->
				<label for="firstName">First Name:</label>
				<input class="userInput" type="text" id="firstName" onblur="capitalizeFirstName()"/>
				
				<!--Label and Field for Last Name-->
				<label for="lastName">Last Name:</label>
				<input class="userInput" type="text" id="lastName" onblur="capitalizeLastName()"/>
				
				<br />
				
				<!--Label and Field for Telephone-->
				<label for="phoneNum">Telephone:</label>
				<input class="userInput" type="text" id="phoneNum" onblur="numCheck()" />
				
				<br />
				<br />
				
				<!--Label and Field for City-->
				<label for="city">City:</label>
				<input class="userInput" type="text" id="city" onblur="autofillZipCodes()" onkeyup="autofillCities()"/>
				
				<!--Label and Dropdown Box for Zip Code-->
				<label for="zip">Zip Code:</label>
				<select class="userInput" id="zip">
					<option>Select zip code:</option>
				</select>
				
				<br />
				
				<!--Submit button-->
				<input type="submit" value="Share personal info with our unscrupulous marketing staff" onclick="submissionCheck()"/>
			</fieldset>
		</form>
	<script type="text/javascript" src="../Scripts/script.js"></script>
</body> 
</html>