/*
 *	Group Name: The Average Joes
 *	Group Members: Bruce Li (Leader)
 *				   Matt Irby
 *			       Wesley Nguyen
 *			       Zachary Gay
 *  File Name: StyleSheet.css
 *  Purpose: This is the stylesheet for index.html
*/

/* Styling the submit button. */
input[type="submit"], input[type="reset"]{
	font-family: Verdana, Tahoma, sans-serrif;
	border: 2px solid #A1A1A1;
	border-radius: 10px;
}